#footer {
  background-color: #1d1d1d;
  color: white;
  width: 100%;
  height: 14em;
  position: absolute;
}
.divCon {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  margin: 3px 0px;
  /* background-color: violet; */
  justify-content: center;
  align-items: center;
}

#footCenter div {
  padding: 0em 2em;
  height: 100%;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#divFirst {
  border-right: 2px solid white;
}
#divThird {
  border-right: 2px solid white;
  border-left: 2px solid white;
}
#divLast {
  border-left: 2px solid white;
}
#footBottom div {
  padding: 0em 2em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footIcon {
  cursor: pointer;
}
.insta:hover {
  color: red;
}
.fb:hover {
  color: rgb(52, 115, 197);
}
.twit:hover {
  color: blue;
}
.youtube:hover {
  color: red;
}
.linkedIn:hover {
  color: blue;
}
.phoneNumPara {
  font-size: 1em;
}
